.head-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-img {
    align-self: center;
    width: 25%;
    border: none;
    border-radius: 33% 67% 53% 47% / 57% 77% 23% 43% ;
    box-shadow: 2px 2px 10px 1px black;
}

@media (min-width: 768px) {
    .head-container {
        flex-direction: row-reverse;
        gap: 1em;
        max-width: 700px;
        margin-top: 2em;
    }
    
}