.certificates-container {
    display: flex;
    gap: 2em;
    max-width: 90%;
}

.certificate-div {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 1em;
    margin: 1em 0 2.5em 0;
}

.skill_div {
    position: relative;
    display: flex;
    cursor: pointer;
}

.skill_img {
    height: 100px;
    width: 100px;
    border: none;
    box-shadow: 1px 1px 10px #7a7878;
    object-fit: cover;
    border-radius: 50%;
    transition: ease-in-out;
    transition-duration: 300;
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.skill_img:hover {
    opacity: 0.8;
    filter: grayscale(100%);
}

.skill_progress_div {
    position: absolute;
    opacity: 0;
    transition: ease-in-out;
    transition-duration: 300;
    z-index: 0;
    border-radius: 9999px;
    height: 100%;
    width: 100%;
}

.skill_progress_div:hover {
    opacity: .8;
    --tw-bg-opacity: 5;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.skill_progress_div_text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
}

.skill_progress_text {
    font-size: 2.2rem;
    font-weight: bold;
}

.certificate-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5% 20% 5% 20% / 20% 3% 20% 5% ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0.4em;
}

.certificate-title-div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.certificate-btn {
    background-color: rgba(31, 106, 116, 0.2);
    color: #fff;
    padding: 0 1em;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 1.75;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.certificate-btn:hover {
    box-shadow: 1px 1px 1px 1px rgb(13, 43, 50);
    border: #fff;
}

.certificate-date,
.certificate-title,
.certificate-description {
    padding: 0;
    margin: 0.5em 0;
    color: var(--primary-text-color);
}

.certificate-description {
    text-align: justify
}

.certificate-link {
    text-decoration: none;
    color: var(--primary-text-color)
}

.recentprojects-title {
    font-size: 1.4rem;
    margin: 1em 0 2em 0;
}

@media (min-width: 768px) {

    .skills {
        grid-template-columns: repeat(4, 100px);
        gap: 1.6em;
    }

    .certificates-container {
        width: 100%;
    }

    .certificate-div {
        max-width: 1400px;
        width: 100%;
        display: grid;
        margin: auto;
        grid-gap: 0 2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "Img Img Img Text Text Text Text"
            "Img Img Img Text Text Text Text"
            "Title Title Title Text Text Text Text"
            "Date Date Date Text Text Text Text";
    }

    .certificate-description {
        text-align: justify;
        padding-top: 0;
        margin-top: 0;
    }

    .certificate-img {
        grid-area: Img;
    }

    .certificate-title {
        grid-area: Title;
        margin-bottom: 0;
    }

    .certificate-date {
        grid-area: Date;
        margin-top: 0;
        font-style: italic;
    }

    .certificate-description {
        grid-area: Text;
    }

    .certificate-btn {
        grid-area: Btn;
    }
}

@media (min-width: 880px) {

    .certificate-div {
        max-width: 1000px;
        width: 100%;
        display: grid;
        grid-gap: 0 2em;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "Img Img Img Text Text Text Text"
            "Img Img Img Text Text Text Text"
            "Title Title Title Text Text Text Text"
            "Title Title Title Date Date Date Date";
    }
}

@media (min-width: 1024px) {

    .skills {
        grid-template-columns: repeat(6, 100px);
        gap: 2em;
    }

    .certificate-div {
        max-width: 1000px;
        width: 100%;
        display: grid;
        grid-gap: 0 2em;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "Img Img Img Title Title Title Title"
            "Img Img Img Text Text Text Text"
            "Img Img Img Date Date Date Date";
    }

    .certificate-title {
        margin-bottom: 0.5em;
    }
}