#home {
    scroll-snap-type: y mandatory;
    position: relative;
}
  
#hero {
    scroll-snap-align: start;
}
  
#projects, #contact, #certifications {
    scroll-snap-align: center;
}

.home_header {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.banner {
    width: 100px;
    border: none;
    border-radius:69% 31% 72% 28% / 82% 75% 25% 18% ;
    box-shadow: 2px 2px 15px #666;
    margin-top: 1rem;
}

.banner_div {
    text-align: center;
}

.title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 900;
    margin: 1.4rem
}

.title-span {
    font-size: 2rem;
    color: var(--toggle-btn);
}

.description {
    text-align: justify;
    padding: 0 1em;
}

.home-questions {
    max-width: 550px;
}

.page-title {
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0.8;
    margin: 1em;
}

.homepage-subtitle {
    font-size: 1.2rem;
    text-align: center;
    margin: 0.6rem 0;
}

#projects {
    align-items: center;
    margin: 1rem 0;
}

.topProjects_title {
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0.8;
    margin: 1em;
}

.topProjects_container {
    max-width: 550px;
    margin-bottom: 2rem;
}

.topProjects_div {
    margin: 0.6rem auto;
    width: 100%;
    text-align: center;
}

.topProjects_div>a {
    text-decoration: none;
}

.topProjects_div:hover {
    scale: 1.02;
    transition: ease-in-out 0.4s;
}

.topProjects_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10% 20% 10% 10% / 20% 10% 20% 20% ;

}

.topProjects_title-div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
}

.topProjects_date,
.topProjects_subtitle,
.topProjects_description {
    padding: 0;
    margin: 0.5em 0;
    color: var(--primary-text-color);
}

.topProjects_date {
    font-style: italic;
}

.topProjects_description {
    text-align: justify
}

#certifications {
    align-items: center;
    margin: 1rem 0;
}

.home-btn {
    background-color: var(--toggle-btn);
    color: #fff;
    padding: 0.4rem 2rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-btn:hover {
    scale: 1.05;
    cursor: pointer;
}

#contact {
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn-top {
    width: 3rem;
    top: 3rem;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    position: sticky;
    bottom: 1%;
    opacity: 0.4;
}

.btn-top:hover {
    scale: 1.2;
    opacity: 1;
    transition: all 300ms;
    cursor: pointer;
}

@media (min-width: 768px) {

    .topProjects_container {
        max-width: 700px;
    }
    
    .topProjects_div {
        width: 100%;
    }

    .topProjects_div>a {
        width: 650px;
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .topProjects_img {
        width: 300px;
    }

    .home_header {
        flex-direction: row;
        width: 800px;
        gap: 1em;
        padding-left: 1rem;
    }

    .home-questions {
       max-width: 650px;
    }

    .title {
        font-size: 2rem;
        text-align: left;
    }

    .title-span {
        font-size: 3rem;
    }

    .title-description {
        margin: 1rem
    }

    .banner {
        width: 120px;
    }
}

@media (min-width: 1024px) {

    .home_header {
        width: 100%;
        margin: 1rem;
        padding-left: 3rem;
    }

    .topProjects_container {
        max-width: 1400px;
    }

    .banner {
        width: 150px;
    }

    .topProjects_div {
        width: 100%;
    }

    .topProjects_div>a {
        width: 1000px;
        display: flex;
        gap: 2rem;
    }

    .topProjects_img {
        width: 300px;
    }

    .home-questions {
        max-width: 1000px;
        margin: 1rem auto;
     }

    .title {
        font-size: 3rem;
        text-align: left;
    }

    .title-span {
        font-size: 4rem;
    }
}