/* PAGES - START */

.banner {
    align-self: center;
    width: 30%;
    border: none;
    border-radius: 33% 67% 53% 47% / 57% 77% 23% 43% ;
    box-shadow: 2px 2px 15px #666;
    margin-bottom: 2em;
}

.title {
    font-size: 1.6rem;
    text-align: center;
}

.title,
.page-subtitle {
    font-weight: 700;
}

.title-description {
    text-align: center;
    font-style: italic;
    padding: 0 1.5em;
}

.description {
    text-align: justify;
    padding: 0 1em;
}

.title-description,
.description {
    font-size: 1rem
}

.page-title {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;

}

.page-subtitle {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 0.7em;
}

.home-questions {
    margin: 1.2em 0;
}

.homepage-subtitle {
    font-size: 1.2rem;
    text-align: center;
}