/* PAGES - START */

.banner {
    align-self: center;
    width: 35%;
    border: none;
    border-radius: 33% 67% 53% 47% / 57% 77% 23% 43% ;
    box-shadow: 2px 2px 15px #666;
}

.title {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 900;
    line-height: 3rem;
    margin: 0.2rem;
}

.title-description {
    text-align: center;
    font-style: italic;
    padding: 0 1.5em;
    margin-bottom: 1rem;
}

.description {
    text-align: justify;
    padding: 0 1em;
}

.title-description,
.description {
    font-size: 1rem
}

.page-title {
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0.8;
    margin: 1em;
}

.page-subtitle {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 0.7em;
}

.home-questions {
    margin: 1.2em 0;
}

.homepage-subtitle {
    font-size: 1.2rem;
    text-align: center;
}

@media (min-width: 768px) {
    .title {
        line-height: 5rem;
        margin: 1rem;
    }

    .title-description {
        margin: 1rem;
    }

    .banner {
        margin-top: 1rem;
    }
}