.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em 3em;
    max-width: 90%;
}

.project-div {
    margin: 0.5em 0;
    width: 100%;
    margin: auto;
    scale: 1;
}

.project-div:hover {
    scale: 1.05;
    transition: ease-in-out 0.4s;
}

.project-div>a {
    text-decoration: none;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5% 20% 5% 20% / 10% 10% 10% 10% ;
    margin-bottom: 0.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
}

.project-title-div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.project-date,
.project-title,
.project-description {
    padding: 0;
    margin: 0.5em 0;
    color: var(--primary-text-color);
}

.project-date {
    font-style: italic;
}

.project-description {
    text-align: justify
}

.projectDetail-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-img-detail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5% 20% 5% 20% / 10% 10% 10% 10% ;
    margin-bottom: 0.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-link-div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    
}

.project-container {
    padding: 0 0.5em;
}

.project-link-btn {
    background-color: var(--toggle-btn);
    border-radius: 5px;
    padding: 0.2em 2em;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 5px 1px black;
}

.project-link-btn:hover {
    scale: 1.1;
    transition: all ease-in-out 400ms;
}

.project-link {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: 500;
    color: white;
}

.project-link:hover {
    color: white;
}

.recentprojects-title {
    font-size: 1rem;
    margin: 2em 0 2em 0;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0.8;
    text-align: center;
    font-weight: 700;
}

.back-link {
    text-decoration: none;
    color: var(--primary-text-color);
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    padding-top: 0.3em;
    margin-right: 0.2em;
    align-self: baseline;
}

.showmore {
    margin: 1em;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: transparent;
    padding: 0.2em 0.6em;
    border: none;
    cursor: pointer;
    color: var(--primary-text-color)
}

@media (min-width: 712px) {

    .project-container {
        margin: 0 auto;
        padding: 0 2em;
    }

    .project-link-div {
        gap: 50px;
    }

    .project-link-btn {
        padding: 0.3em 3em;
    }

    .back-link {
        padding-left: 2em;
    }

    .project-img-detail {
        width: 60%;
        height: 60%;
    }

    .project-img-detail:hover {
        scale: 1.02;
        transition: all ease-in-out 400ms;
    }
}